<div class="well">
  <div class="row-fluid">
    <div class="span11">
      <%= wrap("<p class='lead text-primary'>Доктор</p>") %>
    </div>
    <div align="right" class="span1">
      <%#= link_to '<i class="fa fa-pencil text-primary"></i>'.html_safe, '#', title: 'Редактировать', rel: 'tooltip' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= wrap("<h4>#{treatment.dname} #{treatment.dsurname} (#{treatment.dclinic})</h4>") %>
    </div>
  </div>
</div>