<% provide(:title, "Редактировать напоминание") %>

<div class="row">
  <div class="span8 offset2">
    <%= form_for [@treatment, @notify], url: treatment_notification_path(@treatment), html: {class: "form-horizontal"} do |f| %>
        <fieldset>
          <legend><h3 class='text-center'>Редактировать напоминание</h3></legend>
          <%= render 'shared/notification_form', f: f %>

          <div class="form-actions">
            <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>